# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados
*.so

# -----------------------------
# ENTORNO VIRTUAL
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# DJANGO
# -----------------------------
*.log
db.sqlite3
db.sqlite3-journal

# -----------------------------
# VARIABLES DE ENTORNO
# -----------------------------
.env

# -----------------------------
# FIREBASE / CREDENCIALES
# -----------------------------
serviceAccountKey.json

# -----------------------------
# VSCODE
# -----------------------------
.vscode/

# -----------------------------
# ARCHIVOS DEL SISTEMA
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# MIGRACIONES (OPCIONAL)
# -----------------------------
**/migrations/*.py
!**/migrations/__init__.py

# -----------------------------
# ARCHIVOS TEMPORALES
# -----------------------------
*.tmp
*.swp

# -----------------------------
# CACHE
# -----------------------------
.cache/

# -----------------------------
# TEST / COVERAGE
# -----------------------------
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# -----------------------------
# BUILD
# -----------------------------
dist/
build/
*.egg-info/